{% extends "base_template.html" %}
{% block content %}
    <!-- custom scripts -->
    <!-- Main Body -->
    <div class="container-fluid" id="body_wrapper">
        <div class="row">
            <div class="col-lg-3">
                <!-- Register/log Nav -->
                <ul>
                    <li class="nav-divider">
                        <a type="button" class="btn btn-outline-success" style="width: available; margin-bottom: 5px" href="{% url "user login" %}">Login</a>
                    </li>
                    <li class="nav-divider">
                        <a type="button" class="btn btn-outline-success" style="width: available; margin-bottom: 5px" href="{% url "register user" %}">Registration</a>
                    </li>
                </ul>

                <!-- Site Index Navigation -->
                <div id="left_body_col">
                    <h5><a href="">SolarSlabs Module</a></h5>
                    <ul>
                        <li>
                            <a href="">Testing & Certification</a>
                        </li>
                        <li>
                            <a href="">SolarSlabs Rating</a>
                        </li>
                    </ul>

                    <h5><a href="">System Performance</a></h5>
                    <ul>
                        <li>
                            <a href="">Monitoring & Inspection</a>
                        </li>
                        <li>
                            <a href="">Performance Analysis</a>
                        </li>
                        <li>
                            <a href="">Compare System</a>
                        </li>
                        <li>
                            <a href="">Certifications</a>
                        </li>
                    </ul>
                    <h5><a href="">Data Analytics</a></h5>
                    <ul>
                        <li>
                            <a href="">Module Lifetime Predictions</a>
                        </li>
                        <li>
                            <a href="">Energy Predictions</a>
                        </li>
                    </ul>
                    <h5>
                        <a href="">Cybersecurity & Smart Grid Technologies</a>
                    </h5>
                    <h5>
                        <a href="">SolarSlabs University</a>
                    </h5>
                </div>
            </div>

            <!-- Featured Content -->
            <div class="col-lg-6" id="featured_content">
                <h5><i>Featured Content</i></h5>
                <hr>
                <img class="featured-img" src="/static/SolarPanels.jpg" alt="Featured Image">
                <p>Our new high efficiency long life panels will be available in March 2020</p>
                <br>
                <hr>
                <img class="featured-img" src="/static/bulb.jpg" alt="bulb">
                <p>Innovating for a brighter future!</p>
            </div>

            <!-- News & Events Column -->
            <div class="col-lg-3" id="right_body_col">
                <h5>News & Events</h5>
                <p><a href="">PhotoVoltaic Technical Conference to take place in Marseilles, France From 26th to 28th, April 2020</a></p>
                <p><a href="">Will Trump win 2020 presidency?</a></p>
                <p><a href="">Syrian forces recapture Aleppo</a></p>
                <p><a href="">Impeachment Trial now in trail at the senate</a></p>
            </div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                </div>
            </div>
        </div>

{% endblock %}