{% extends "base_template.html" %}

{% block content %}
    <!-- Registration Form -->
    <br>
    <div id="form-wrapper" class="container">
        <br>
        <h1>User Registration</h1>
        <hr/>
        <form name="user_form" action="" method="post">
            {% csrf_token %}
            {#            {% if messages %}#}
            {#                {% for error in messages %}#}
            {#                    {{ error }}#}
            {#                {% endfor %}#}
            {#            {% endif %}#}
            <table>
                {{ user_form }}
{#                {{ user_form.errors }}#}
                {{ profile_form }}
{#                {{ profile_form.errors }}#}
            </table>
            <hr/>
            <button type="submit" class="btn btn-primary" value="OK">Submit</button>

        </form>
    </div>
{% endblock %}